<div>
    <label>{{localize "MM3.JURNAL.SelectYourTheme"}}</label>
    <dv>
        <select>
            {{selectOptions (listtheme) selected=theme localize=true}}
        </select>  
    </dv>
    <button data-action = "applyTheme">{{localize "APPLY"}}</button>
</div>